<h1>Lista obecności</h1>

<table border="1">
  <tr>
    <td></td>
    <% for d in @dates %>
    <td><%= d.to_s %></td>
    <% end %>
  </tr>


  <% for s in @students %>
  <tr>
    <td><%= s.email %></td>
    <% for d in @dates %>
    <td>
      <center>
      <% if d.attendants.include?(s) %>
      obecny
      <% else %>
      -
      <% end %>
      </center>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>

<br />

<%= link_to "Zgłoś swoją obecność", attend_path %>
